@model IEnumerable<MonsterWebApp.Models.WeaponsResult>

<link href="style1.css" rel="stylesheet">
@{ Layout = "_LayoutTwo";}

@foreach (var i in Model)
{
    <tr>
        <td> <img src="@i.ImgUrl" height="8%" width="5%" /></td>
        <br />
        <td>Weapon Class: @i.WeaponClass</td>
        <br />
        <td>Rarity: @i.Rarity</td>
        <br />
        <td>Element Type: @i.ElementType</td>
        <br />

        <td><a asp-action="GetBladeByID" asp-controller="Home" asp-route-id="@i.Id">View</a></td>
        <br />
    </tr>

}