@model IEnumerable<MonsterWebApp.Models.WeaponsResult>

@{
    Layout = "_Layout";
}

@foreach (var i in Model)
{

    <div id="detail1">
    <br />
    <h2>@i.Name</h2>
    <p>Weapon Class: @i.WeaponClass</p>
    <p>Derived From: @i.Parent</p>
    <p>Child: @i.HasChild</p>
    </div>
    <div id="detail2">
    <p>Raw Damage: @i.RawDamage</p>
    <p>Element Type: @i.ElementType</p>
    <p>Element Damage: @i.ElementDamage</p>
    <p>Sharpness: @i.Sharpness</p>
    <p>Rarity: @i.Rarity</p>
    </div>
    <div id="detail3">
    <p>Affinity: @i.Affinity</p>
    <p>Slot: @i.Slots</p>
    <p>Defense: @i.Defense</p>
    <p>Description: @i.Description</p>
    <p>Materials: @i.Materials</p>
    </div>
    @*<td><a asp-action="Update" asp-controller="Home" asp-route-id="@i.ID">Update</a></td>*@

}
